body {
    font-family: 'Aptos', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3e5f5;
    color: black;
}

header{
    background-color: #b2e0b2;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #ff6699;
    border-radius: 10px;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 12px 24px;
    border-radius: 15px;
    transition: background-color 0.3s;
    font-weight: 500;
}

/* hover effect*/ 
nav ul li a:hover {
    background-color: #e0f7fa;
    color: blueviolet;
}
    
header h1{
    color: black;
}



/* Main Content */
main {
    padding: 20px;
}


/* Section styles */
section {
    background-color: #fff5ee;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.gallery {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.gallery img {
    width: 150px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
}




table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #DDA0DD;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #D8BFD8;
    color: white;
    padding: 10px;
}

/* Photo Gallery */
.gallery {
    display: grid;
    grid-template-columns:
        repeat (auto-fit, minmax (200px, 1fr));
    gap: 10px;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
}

/*Footer*/
footer {
    background-color: #720e9e;
    padding: 10px;
    text-align: center;
}

/*Responsive design*/
@media (max-width : 600px) {
    nav ul {
        flex-direction: coloumn;
    }

    nav ul {
        margin-bottom: 10px;
    }
} 


